.modal-custom {
  max-width: 80%;
  height: 80vh;
}
.modal {
  background: rgba(0, 0, 0, 0.5);
}
.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: black;
  padding: 10px;
  position: relative;
}
.marquee {
  display: flex;
  animation: marquee 1s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.marquee-item {
  display: inline-block;
  color: white;
  font-size: 24px;
  margin-right: 20px;
  padding: 5px 10px;
}
